.background{
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/summer-collection-bg.png");
    background-size:cover;
    height:100vh;
}
body{
    margin:0;
}
.cards{
    background-color:white;
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin:auto;
    max-width: 800px;
    overflow-y:auto;
}
.image{
    width:100%;
    max-width: 500px;
}